<main>
    <div class="content">
        <div class="head">
            <div class="center_box">
                <h2>Contact me</h2>
            </div>
            <div class="right_box">
                <a href="#">
                    <img src="./imgs/icons/arrow_up.png" alt="">
                </a>
            </div>
        </div>
        <div class="infos">
            <div class="description">
                <span>
                    I'm excited about interesting job offers 
                    or project inquiries — especially in the
                    field of web development. With creativity, 
                    reliability, and a keen eye for detail, I 
                    bring real value to any team. Let’s build 
                    something great together!
                </span>
            </div>
            <div class="contacts">
                <p>E-mail: mustermail@gmail.com</p>
                <p>Tel: 0174 2562430</p>
            </div>
        </div>
        <div class="name_email">
            <div class="name_input">
                <span>Your Name</span>
                <input type="text">
            </div>
            <div class="mail_input">
                <span>Your Email</span>
                <input type="text">
            </div>
        </div>
        <div class="message">
            <span>Your Message</span>
            <input type="text">
        </div>
        <div class="privacy_policy">
            <img src="./imgs/icons/ellipse_empty.png" alt="">
            <span>
                I've rread the privacy policy and agree to the 
                processsing of my data as outlined.
            </span>
        </div>
        <div class="send">
            <button>Send</button>
        </div>
    </div>
</main>
