<main id="contact">
  <div class="content">
    <div class="head">
      <div class="center_box">
        <h2>{{ "contact.headline" | translate }}</h2>
      </div>
      <div class="right_box">
        <a href="#">
          <img
            src="./imgs/icons/arrow_up.png"
            alt="{{ 'contact.uplinkAlt' | translate }}"
          />
        </a>
      </div>
    </div>
    <div class="infos">
      <div class="description">
        <span>
          {{ "contact.description" | translate }}
        </span>
      </div>
      <div class="contacts">
        <div class="contact_infos">
          <img src="./imgs/icons/email_white.png" alt="" />
          {{ "contact.emailLabel" | translate }}: mail-contact@falko-katzer.de
        </div>
        <div class="contact_infos">
          <img src="./imgs/icons/phone_white.png" alt="" />
          {{ "contact.phoneLabel" | translate }}:
          {{ "contact.phoneNumber" | translate }}
        </div>
      </div>
    </div>
    <div class="work_together">
      <span>{{ "contact.workTogether" | translate }}</span>
    </div>
    <div class="name_email_message" data-aos="fade-up" data-aos-duration="2000">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="name_email">
          <div class="name_input">
            <label for="name">{{ "contact.form.nameLabel" | translate }}</label>
            <input
              #name="ngModel"
              minlength="4"
              [(ngModel)]="contactData.name"
              type="text"
              id="name"
              name="name"
              [placeholder]="'contact.form.namePlaceholder' | translate"
              required
            />
            @if (!name.valid && name.touched) {
            <span>{{ "contact.form.nameError" | translate }}</span>
            }
          </div>

          <div class="mail_input">
            <label for="email">{{
              "contact.form.emailLabel" | translate
            }}</label>
            <input
              #email="ngModel"
              minlength="4"
              [(ngModel)]="contactData.email"
              type="text"
              id="email"
              name="email"
              [placeholder]="'contact.form.emailPlaceholder' | translate"
              required
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            />
            @if (!email.valid && email.touched) {
            <span>{{ "contact.form.emailError" | translate }}</span>
            }
          </div>
        </div>

        <div class="message">
          <label for="subject">{{
            "contact.form.messageLabel" | translate
          }}</label>
          <textarea
            #message="ngModel"
            minlength="4"
            [(ngModel)]="contactData.message"
            id="message"
            name="message"
            [placeholder]="'contact.form.messagePlaceholder' | translate"
            style="height: 200px"
            required
          ></textarea>
          @if (!message.valid && message.touched) {
          <span>{{ "contact.form.messageError" | translate }}</span>
          }
        </div>
        <div
          class="privacy_policy"
          (click)="privacyAccepted = !privacyAccepted"
        >
          <input
            type="checkbox"
            id="privacy"
            [(ngModel)]="privacyAccepted"
            name="privacyAccepted"
            hidden
          />
          <img
            [src]="
              privacyAccepted
                ? './imgs/icons/ellipse_checked.png'
                : './imgs/icons/ellipse_empty.png'
            "
            alt="Privacy Checkbox"
          />
          <span>
            {{ "contact.form.privacyTextOne" | translate }}
            <a id="blue" [routerLink]="['/imprint']">{{
              "contact.form.privacyLink" | translate
            }}</a>
            {{ "contact.form.privacyTextTwo" | translate }}
          </span>
        </div>

        <div class="send">
          <input
            type="submit"
            [value]="'contact.form.submit' | translate"
            [disabled]="!privacyAccepted"
            [ngClass]="{ 'active-button': privacyAccepted }"
          />
        </div>
      </form>
    </div>

    @if (emailSent) {
    <div class="feedback-message">
      {{ "contact.form.successMessage" | translate }}
    </div>
    }

    <div class="uplink">
      <a href="#">
        <img
          src="./imgs/icons/arrow_up.png"
          alt="{{ 'contact.uplinkAlt' | translate }}"
        />
      </a>
    </div>
  </div>
</main>
