<main>
    <div class="contact">
        <h1>My Skills</h1>
        <div class="skillset">

        </div>
        <div class="learning">
            <span>
                Die Webentwicklung verändert sich rasant – und
                ich liebe es, am Ball zu bleiben. Ob neue Tools, Trends
                oder Best Practices: Ich bilde mich kontinuierlich
                weiter, um meinen Kunden moderne und zukunftssichere
                Lösungen zu bieten.
            </span>
        </div>
    </div>
</main>
