<main>
    <div class="all">
        <div class="left">
            <div class="hero_img">
                <img src="./imgs/img/hero_placholder_img.png" alt="">
            </div>
        </div>
        <div class="right">
            <div class="middle">
                <div class="up">
                <div class="block"></div>
                <div class="logo">
                    <img src="./imgs/icons/logo_icon.png" alt=""/>
                    <span id="salutation">F.Katzer</span>
                    <span id="job_title">developer</span>
                </div>
                <div class="socialmedia">
                    <img src="./imgs/icons/email_button.png" alt="">
                    <img src="./imgs/icons/github_button.png" alt="">
                    <img src="./imgs/icons/linkedin_button.png" alt="">
                </div>
            </div>
                <div class="name">
                    <h1>Falko Katzer</h1>
                </div>
                <div class="job">
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <div class="arrow_down">
                <img src="./imgs/icons/arrow_down.png" alt="">
            </div>
        </div>
    </div>
</main>
<app-header></app-header>
