* {
  box-sizing: border-box;
  margin: 0;
  font-family: Josefin Sans;
}

@import "../../mixins/mixins.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  @include backgroundBlue;
  height: 100px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.name {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 16px;
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  > #salutation {
    @include whiteFont;
  }
  > #job_title {
    color: black;
  }
  > img {
    width: 52px;
    height: 38px;
    transition: width 0.5s ease-out;
    &:hover {
      width: 64px;
    }
  }
}

.logo_mobile {
  display: none;
}

.section_nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
  > a {
    font-size: 26px;
    font-weight: 500;
    text-decoration: none;
    color: #262e34;

    &:hover {
      @include whiteFont;
    }
  }
}

.language {
  width: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  > button {
    padding: 0;
    width: 40px;
    height: 32px;
    cursor: pointer;
    &:hover {
      @include whiteFont;
    }
  }
  > #en {
    font-size: 18px;
    font-weight: 400;
    border: none;
    @include backgroundBlue;
    background-image: url("../../../../public/imgs/icons/Ellipse\ 24.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  > #de {
    font-size: 18px;
    font-weight: 400;
    border: none;
    @include backgroundBlue;
  }
}

.burger_menue {
  display: none;
}

// Media Queries
@include respond-to(m) {
  .section_nav {
    > a {
      font-size: 20px;
    }
  }
}

@include respond-to(s) {
  header {
    @include backgroundDark;
  }

  .logo {
    display: none;
  }

  .logo_mobile {
    display: block;
    @include centerCenter;
    flex-direction: column;
    > img {
      width: 52px;
      height: 38px;
      transition: width 0.5s ease-out;
      &:hover {
        width: 64px;
      }
    }
    > #salutation {
      color: whitesmoke;
      font-family: anta;
    }
    > #job_title {
      color: #89bcd9;
      font-family: Josefin Sans;
    }
  }

  .section_nav {
    display: none;
  }

  .language {
    display: none;
  }

  .burger_menue {
    position: fixed; // statt default
    top: 20px;
    right: 32px;
    z-index: 10001; // höher als das Overlay
    display: block;
    cursor: pointer;
  }

  .overlay_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    > nav {
      display: flex;
      flex-direction: column;
      gap: 24px;

      a {
        font-size: 28px;
        color: white;
        text-decoration: none;
        &:hover {
          color: #89bcd9;
        }
      }
    }
  }

  .language_overlay {
    margin-top: 40px;
    display: flex;
    gap: 12px;
    > button {
      background: none;
      border: none;
      font-size: 18px;
      color: white;
      cursor: pointer;
      &:hover {
        color: #89bcd9;
      }
    }
  }
}
