<main>
    <div class="content">
        <h1 id="wy_me">{{ "whyMe.h1" | translate }}</h1>
        <div class="informations">
            <div class="located">
                <img src="./imgs/icons/maps_icon.png" alt="">
                <span>
                    <span class="blue">{{ "whyMe.locationBlue" | translate }}</span> {{ "whyMe.locationWhite" | translate }}</span>
            </div>
            <div class="description">
                <span> {{ "whyMe.span" | translate }}
                    
                </span>
            </div>
        </div>    
        <div class="contact_link">
            <a href="#contact"> 
                <button id="contactLink">{{ "whyMe.button" | translate }}</button>
            </a>
        </div>
    </div>
</main>
