<main>
    <div>
        <h1>Why me</h1>
        <div class="located">
            <img src="./imgs/icons/maps_icon.png" alt="">
            <span>Ich lebe in Bautzen</span>
        </div>
        <div class="description">
            <span>
                Als Webdeveloper bringe ich nicht nur technisches Know-how mit – ich 
                bringe Haltung, Präzision und Leidenschaft für digitale Lösungen. Ich 
                entwickle Websites, die nicht nur funktionieren, sondern begeistern. Mein 
                Anspruch ist es, Projekte umzusetzen, die Nutzer intuitiv verstehen und 
                Unternehmen digital voranbringen.
            </span>
        </div>
    </div>
</main>
