* {
  box-sizing: border-box;
  margin: 0;
  background-color: #252d33;
  font-family: Josefin Sans;
  color: whitesmoke;
}

@import "../../mixins/mixins.scss";

h1 {
  font-family: Anta;
  color: #89bbd9;
  font-weight: 400;
  font-size: 60px;
  margin-top: 64px;
  margin-bottom: 64px;
  scroll-margin-top: 165px;
}

#why_me {
  position: relative;
  padding-top: 60px;
}

.content {
  @include centerCenter;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.informations {
  @include centerCenter;
  width: 1000px;
  margin-bottom: 24px;
}

.located {
  display: flex;
  align-items: center;
  width: 500px;
  font-size: 30px;
  font-weight: 700;
  > img {
    margin-right: 8px;
    width: 75px;
  }
}

.blue {
  color: #89bbd9;
}

.description {
  font-size: 18px;
  font-weight: 400;
  width: 500px;
}

.contact_link {
  width: 1000px;
  display: flex;
  justify-content: end;
}

.contact_link button {
  border: solid 1px #89bbd9;
  border-radius: 20px;
  height: 40px;
  width: 112px;
  color: #89bbd9;
  font-size: 18px;
  margin-left: 24px;
  cursor: pointer;
  &:hover {
    @include backgroundBlue;
    background-color: #3f4346;
  }
}

.contact_link button a {
  text-decoration: none;
}

// Media Queries

@include respond-to(lg) {
  .informations {
    width: 700px;
    gap: 6px;
  }

  .description {
    font-size: 16px;
    display: flex;
    justify-content: start;
    width: 468px;
  }

  .located {
    width: 468px;
    font-size: 24px;
    > img {
      width: 65px;
    }
  }

  .contact_link {
    width: 700px;
  }
}

@include respond-to(m) {
  .informations {
    flex-direction: column;
    width: 500px;
  }

  .content {
    width: 500px;
  }

  .contact_link {
    justify-content: center;
    align-items: center;
    width: 500px;
  }
}

@include respond-to(s) {
  .content {
    width: 350px;
  }

  .informations {
    flex-direction: column;
    width: 350px;
  }

  .located {
    width: 350px;
  }

  .description {
    width: 350px;
  }

  .contact_link {
    width: 350px;
  }
}

@include respond-to(sm) {
  h1 {
    font-size: 40px;
  }

  .content {
    width: 280px;
  }

  .informations {
    flex-direction: column;
    width: 280px;
  }

  .located {
    width: 280px;
    > span {
      font-size: 18px;
    }
  }

  .description {
    width: 280px;
  }

  .contact_link {
    width: 280px;
  }
}
