* {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #252d33;
  font-family: Josefin Sans;
  width: 100%;
}

@import "../../../src/app/mixins/mixins.scss";

.header {
  width: 100%;
}

h1 {
  color: #89bbd9;
  font-family: Anta;
  font-weight: 400;
  font-size: 54px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main_body {
  padding-bottom: 40px;
}

.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  flex-grow: 1;
  color: whitesmoke;
}

h2 {
  font-size: 24px;
  color: #89bbd9;
  margin-bottom: 24px;
}

p {
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: #89bbd9;
}

.service_provider,
.contaact_options,
.online_presences,
.disclaimer {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}

.index {
  color: #89bbd9;
  padding-bottom: 24px;
}

.padding {
  padding-bottom: 24px;
}

.responsible_person {
  padding-bottom: 24px;
}

.overview {
  padding-bottom: 24px;
}

.legal_basis {
  padding-bottom: 24px;
}

.security {
  padding-bottom: 24px;
}

.data {
  padding-bottom: 24px;
}

.hosting {
  padding-bottom: 24px;
}

.cookies {
  padding-bottom: 24px;
}

.contact {
  padding-bottom: 24px;
}

.social_media {
  padding-bottom: 24px;
}

// Media Querie

@include respond-to(m) {
  h1 {
    font-size: 46px;
  }
}

@include respond-to(s) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 20px;
  }
}

@include respond-to(sm) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  .social_media li{
    > a {
      font-size: 14px;
    }
  }
}
