<main id="references_section">
    <div class="content">
        <div class="headline">
            <span>Need a teamplayer? Here what my colleagues 
               said about me.</span>
        </div>
        <div class="headline_mobile">
            <span class="blue_font">
                Need a teamplayer?
            </span>
            <span class="white_font">
                Here what my colleagues 
                said about me.
            </span>
        </div>
        <div class="references">
            <div class="scrolling_content">
                <div class="reference_bg">
                    <div class="reference">
                        <div class="name">Sahra Müller</div>
                        <div class="project">
                            <span>Project:</span>
                            <span class="projekt_name">Join</span>
                        </div>
                        <div class="reference">
                            ‘’Falko is a reliable and friendly 
                            person. Works in a structured way 
                            and write a clear code. 
                            I recommend her
                            as a colleague.’’
                        </div>
                        <div class="social_link">
                            <a href="#">Linked In Profile</a>
                        </div>
                    </div>
                </div>

                <div class="reference_bg">
                    <div class="reference">
                        <div class="name">Sahra Müller</div>
                        <div class="project">
                            <span>Project:</span>
                            <span class="projekt_name">Join</span>
                        </div>
                        <div class="reference">
                            ‘’Falko is a reliable and friendly 
                            person. Works in a structured way 
                            and write a clear code. 
                            I recommend her
                            as a colleague.’’
                        </div>
                        <div class="social_link">
                            <a href="#">Linked In Profile</a>
                        </div>
                    </div>
                </div>

                <div class="reference_bg">
                    <div class="reference">
                        <div class="name">Sahra Müller</div>
                        <div class="project">
                            <span>Project:</span>
                            <span class="projekt_name">Join</span>
                        </div>
                        <div class="reference">
                            ‘’Falko is a reliable and friendly 
                            person. Works in a structured way 
                            and write a clear code. 
                            I recommend her
                            as a colleague.’’
                        </div>
                        <div class="social_link">
                            <a href="#">Linked In Profile</a>
                        </div>
                    </div>
                </div>

                <div class="reference_bg">
                    <div class="reference">
                        <div class="name">Sahra Müller</div>
                        <div class="project">
                            <span>Project:</span>
                            <span class="projekt_name">Join</span>
                        </div>
                        <div class="reference">
                            ‘’Falko is a reliable and friendly 
                            person. Works in a structured way 
                            and write a clear code. 
                            I recommend her
                            as a colleague.’’
                        </div>
                        <div class="social_link">
                            <a href="#">Linked In Profile</a>
                        </div>
                    </div>
                </div>

                <div class="reference_bg">
                    <div class="reference">
                        <div class="name">Sahra Müller</div>
                        <div class="project">
                            <span>Project:</span>
                            <span class="projekt_name">Join</span>
                        </div>
                        <div class="reference">
                            ‘’Falko is a reliable and friendly 
                            person. Works in a structured way 
                            and write a clear code. 
                            I recommend her
                            as a colleague.’’
                        </div>
                        <div class="social_link">
                            <a href="#">Linked In Profile</a>
                        </div>
                    </div>
                </div>

                <div class="reference_bg">
                    <div class="reference">
                        <div class="name">Sahra Müller</div>
                        <div class="project">
                            <span>Project:</span>
                            <span class="projekt_name">Join</span>
                        </div>
                        <div class="reference">
                            ‘’Falko is a reliable and friendly 
                            person. Works in a structured way 
                            and write a clear code. 
                            I recommend her
                            as a colleague.’’
                        </div>
                        <div class="social_link">
                            <a href="#">Linked In Profile</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
