* {
  box-sizing: border-box;
  margin: 0;

  font-family: Josefin Sans;
}

@import "../../mixins/mixins.scss";

main {
  background-color: #252d33;
}

.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  padding-top: 64px;
}

.headline {
  color: #89bbd9;
  font-size: 32px;
  margin-bottom: 64px;
  text-align: center;
}

.headline_mobile {
  display: none;
}

.scrolling_wrapper {
  animation: scroll 60s linear infinite;
  display: flex;
  width: max-content;
}


.scrolling_content {
  display: flex;
  width: max-content;
  //gap: 5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.references {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 18px;
  overflow: hidden;
}

.reference_bg {
  @include centerCenter;
  flex-direction: column;
  background-image: url("../../../../public/imgs/icons/ellipse_grey.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 350px;
  width: 350px;
  height: 350px;
  margin-right: 4rem;
}

.reference {
  width: 280px;
  height: 280px;
  @include centerCenter;
  flex-direction: column;
}

.name {
  font-size: 26px;
  padding-bottom: 8px;
}

.social_link a {
  font-size: 16px;
  color: #89bbd9;
  text-decoration: underline;
}

.project {
  padding-bottom: 20px;
}

.project_name {
  color: #89bbd9 !important;
}

.reference_text {
  padding-bottom: 12px;
  text-align: center;
}

// Media Queries

@include respond-to(lg) {
  .content {
    width: 800px;
  }

  .reference_bg {
    min-width: 250px;
    width: 250px;
    height: 250px;
  }

  .reference {
    width: 200px;
    height: 200px;
    font-size: 16px;
    text-align: center;
  }

  .name {
    font-size: 20px;
  }

  .headline {
    font-size: 24px;
  }
}

@include respond-to(md) {
  .content {
    width: 765px;
  }
}

@include respond-to(m) {
  .content {
    width: 500px;
  }

  .scrolling_content {
    width: 500px;
  }

  .headline {
    display: none;
  }

.headline_mobile {
  display: block;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .blue_font {
    font-family: Anta;
    @include blueFont;
    font-size: 40px;
  }

  .white_font {
    font-size: 20px;
  }

  .references {
    width: 475px;
  }
}

@include respond-to(s) {
  .content {
    width: 490px;
  }
  .references {
    width: 350px;
  }

  .scrolling_content {
    width: 350px;
  }
}

@include respond-to(sm) {
  .content {
    width: 280px;
    align-items: center;
  }

  .references {
    width: 280px;
  }

  .headline_mobile {
    text-align: center;
  }

  .blue_font {
    font-size: 28px;
  }

  .white_font {
    font-size: 16px;
  }
}

