<main id="references_section">
  <div class="content">
    <div class="headline">
      <span>Need a teamplayer? Here's what my colleagues said about me.</span>
    </div>

    <div class="headline_mobile">
      <span class="blue_font">Need a teamplayer?</span>
      <span class="white_font">Here's what my colleagues said about me.</span>
    </div>

    <div class="references" >
      <div class="scrolling_wrapper">
        <div class="scrolling_content">
          <div class="reference_bg" *ngFor="let ref of references">
            <div class="reference">
              <div class="name">{{ ref.name }}</div>
              <div class="project">
                <span>Project: </span>
                <span class="project_name">{{ ref.project }}</span>
              </div>
              <div class="reference_text">
                {{ ref.text }}
              </div>
              <div class="social_link">
                <a [href]="ref.link" target="_blank">LinkedIn Profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
