* {
    box-sizing: border-box;
    margin: 0;
    font-family: Josefin Sans;
}
@import '../../mixins/mixins.scss';

main {
    @include backgroundDark;
}

.content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    @include blueFont;
    font-family: Anta;
    font-size: 60px;
    font-weight: 400;
    padding-bottom: 40px
}
.projekt_title {
    @include centerCenter;
    @include blueFont;
    font-size: 30px;
    font-weight: 500;
    height: 97px;
    width: 250px;
    @include backgroundGrey;
    border: solid 0px;
    border-radius: 24px 24px 0px 0px;
}

.project_container {
    color: whitesmoke;
    height: 544px;
    @include w1440;
    @include backgroundGrey;
    display: flex;
}

.infos {
    display: flex;
    flex-direction: column;
}

.preview {
    width: 1000px;
    display: flex;
    justify-content: end;
}

.buttons button {
    border: solid 1px #89bbd9;
    border-radius: 20px;
    height: 40px;
    width: 112px;
    color: #89bbd9;
    font-size: 18px;
    margin-left: 24px;
    cursor: pointer;
    @include backgroundGrey;
}