<main id="my_projects">
  <div class="content">
    <h1>{{ "myProjects.h1" | translate }}</h1>

    <div class="titles" data-aos="fade-left">
      <div
        class="first_projekt_title"
        [class.selected]="activeProject === 'elPollo'"
        (click)="switchProject('elPollo')"
      >
        <span>1. El Pollo Loco</span>
      </div>

      <div
        class="second_projekt_title"
        [class.selected]="activeProject === 'join'"
        (click)="switchProject('join')"
      >
        <span>2. Join</span>
      </div>
    </div>
  </div>

  <div class="bg_grey" data-aos="flip-right">
    <div class="project_container">
      <div class="infos el_pollo_loco" *ngIf="activeProject === 'elPollo'">
        <div class="info_box">
          <div class="ellipse">
            <img src="./imgs/icons/ellipse_full.png" alt="Ellipse" />
          </div>
          <div class="info_content">
            <div class="info_header">
              <h2>{{ "myProjects.projects.polloLoco.about.h2" | translate }}</h2>
              <span>{{ "myProjects.projects.polloLoco.about.duration" | translate }}</span>
            </div>
            <div class="info_txt">
              <span>{{ "myProjects.projects.polloLoco.about.infoTxt" | translate }}</span>
            </div>
          </div>
        </div>

        <div class="info_box work_process">
          <div class="ellipse">
            <img src="./imgs/icons/ellipse_full.png" alt="Ellipse" />
          </div>
          <div class="info_content">
            <div class="info_header">
              <h2>{{ "myProjects.projects.polloLoco.workProcess.h2" | translate }}</h2>
            </div>
            <div class="info_txt">
              <span>{{ "myProjects.projects.polloLoco.workProcess.infoTxt" | translate }}</span>
            </div>
          </div>
        </div>

        <div class="info_box learned">
          <div class="ellipse">
            <img src="./imgs/icons/ellipse_full.png" alt="Ellipse" />
          </div>
          <div class="info_content">
            <div class="info_header">
              <h2>{{ "myProjects.projects.polloLoco.whatILearned.h2" | translate }}</h2>
            </div>
            <div class="info_txt">
              <span>{{ "myProjects.projects.polloLoco.whatILearned.infoTxt" | translate }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="infos join" *ngIf="activeProject === 'join'">
        <div class="info_box">
          <div class="ellipse">
            <img src="./imgs/icons/ellipse_full.png" alt="Ellipse" />
          </div>
          <div class="info_content">
            <div class="info_header">
              <h2>{{ "myProjects.projects.join.about.h2" | translate }}</h2>
              <span>{{ "myProjects.projects.join.about.duration" | translate }}</span>
            </div>
            <div class="info_txt">
              <span>{{ "myProjects.projects.join.about.infoTxt" | translate }}</span>
            </div>
          </div>
        </div>

        <div class="info_box work_process">
          <div class="ellipse">
            <img src="./imgs/icons/ellipse_full.png" alt="Ellipse" />
          </div>
          <div class="info_content">
            <div class="info_header">
              <h2>{{ "myProjects.projects.join.workProcess.h2" | translate }}</h2>
            </div>
            <div class="info_txt">
              <span>{{ "myProjects.projects.join.workProcess.infoTxt" | translate }}</span>
            </div>
          </div>
        </div>

        <div class="info_box learned">
          <div class="ellipse">
            <img src="./imgs/icons/ellipse_full.png" alt="Ellipse" />
          </div>
          <div class="info_content">
            <div class="info_header">
              <h2>{{ "myProjects.projects.join.whatILearned.h2" | translate }}</h2>
            </div>
            <div class="info_txt">
              <span>{{ "myProjects.projects.join.whatILearned.infoTxt" | translate }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="preview">
        <div class="technologies">
          <div class="headline"><span>{{ "myProjects.technologies" | translate }}</span></div>
          <div class="technologie_img">
            <img
              *ngFor="let tech of projects[activeProject].technologies"
              [src]="tech.icon"
              [alt]="tech.name"
            />
          </div>
        </div>

        <div class="preview_img">
          <img [src]="projects[activeProject].preview" alt="Project Preview" />
        </div>

        <div class="buttons">
          <a [href]="projects[activeProject].liveLink" target="_blank">
            <button>{{ "myProjects.test" | translate }}</button>
          </a>
          <a [href]="projects[activeProject].githubLink" target="_blank">
            <button>GitHub</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
