* {
  box-sizing: border-box;
  margin: 0;
  font-family: Josefin Sans;
}

@import '../../mixins/mixins.scss';

footer {
  padding: 48px 0px 48px 0px;
  background-color: #89bcd9;

}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.legal_notice {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 12px;
  > a {
    text-decoration: none;
    color: #262e34;
    &:hover {
      color: whitesmoke;
    }
  }
}

.name {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  height: 74px;
  cursor: pointer;
  > #salutation {
    color: whitesmoke;
  }
  > #job_title {
    color: black;
  }
}

.name a img {
  width: 52px;
  height: 38px;
  transition: width 0.5s ease-out;
  &:hover {
    width: 64px;
  }
}

.socialmedia {
  display: flex;
  align-items: end;
  gap: 24px;
  > a {
    width: 30px;
    height: 30px;
    &:hover {
      background-color: whitesmoke;
      border-radius: 100%;
    }
  }
}

.content_mobile {
    display: none;
}

// Media Querie

@include respond-to(s) {
  .name a img {
    width: 48px;
    height: 34px;
    transition: width 0.5s ease-out;
    &:hover {
      width: 56px;
    }
  }

  .socialmedia {
    gap: 4px;
  }
}

@include respond-to(sm) {
  .content {
    display: none;
  }

  footer {
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
  }

  .socialmedia {
    gap: 24px;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .content_mobile {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  .legal_notice_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    >a {
      text-decoration: none;
      color: #262e34;
    }
  }
}